<section id="about-section" class="min-h-screen bg-[#89B0C9] flex items-center">
  <div class="w-full py-20 px-4">
      <!-- Section Header -->
      <div class="text-center mb-16">
          <h2 class="text-4xl font-bold mb-6 inline-block relative text-[#1B2D3A]">
              ABOUT ME
              <div class="absolute -bottom-2 left-1/2 -translate-x-1/2 w-12 h-1 bg-[#436779]"></div>
          </h2>
          <p class="text-[#1B2D3A] max-w-3xl mx-auto">
              Here you will find more information about me, what I do, and my current skills mostly in terms 
              of programming and technology
          </p>
      </div>

      <!-- Content Container -->
      <div class="max-w-6xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-12">
          <!-- Get to know me section -->
          <div>
              <h3 class="text-2xl font-bold mb-8 text-[#1B2D3A]">Get to know me!</h3>
              <div class="space-y-4 text-[#1B2D3A]">
                  <p>
                      Hi, I’m Átylla Kossatz, a fullstack developer passionate about creating efficient and innovative solutions. My professional journey began in the aviation industry, where I built a strong foundation in leadership, strategic planning, and executing complex operations. Today, I bring this experience into the software development world, applying problem-solving skills and teamwork to every line of code I write.
                  </p>
                  <p>
                      With a focus on back-end development, I am driven by a continuous quest for learning and technical improvement, always exploring new technologies to deliver impactful results. I believe my adaptability, combined with a unique strategic vision, enables me to contribute meaningfully to challenging and collaborative projects.
                  </p>
                  <p>
                      Whether turning ideas into reality or enhancing existing systems, I am always seeking to build a more connected and functional future through technology.
                  </p>
              </div>
          </div>

          <!-- Skills section -->
          <div>
              <h3 class="text-2xl font-bold mb-8 md:text-left text-center text-[#1B2D3A]">My Skills</h3>
              <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
                  <div class="bg-[#F5E6D3] p-4 border border-[#436779] rounded-lg">
                      <img src="static/assets/django.png" 
                          class="w-20 mx-auto transform transition-all duration-300 hover:scale-125 hover:rotate-6 hover:drop-shadow-lg" 
                          alt="logo django">
                  </div>
                  <div class="bg-[#F5E6D3] p-4 border border-[#436779] rounded-lg">
                      <img src="static/assets/python.png" 
                          class="w-20 mx-auto transform transition-all duration-300 hover:scale-125 hover:rotate-6 hover:drop-shadow-lg" 
                          alt="logo python">
                  </div>
                  <div class="bg-[#F5E6D3] p-4 border border-[#436779] rounded-lg">
                      <img src="static/assets/git.png" 
                          class="w-20 mx-auto transform transition-all duration-300 hover:scale-125 hover:rotate-6 hover:drop-shadow-lg" 
                          alt="logo git">
                  </div>
                  <div class="bg-[#F5E6D3] p-4 border border-[#436779] rounded-lg">
                      <img src="static/assets/html.png" 
                          class="w-20 mx-auto transform transition-all duration-300 hover:scale-125 hover:rotate-6 hover:drop-shadow-lg" 
                          alt="logo html">
                  </div>
                  <div class="bg-[#F5E6D3] p-4 border border-[#436779] rounded-lg">
                      <img src="static/assets/css.png" 
                          class="w-20 mx-auto transform transition-all duration-300 hover:scale-125 hover:rotate-6 hover:drop-shadow-lg" 
                          alt="logo css">
                  </div>
                  <div class="bg-[#F5E6D3] p-4 border border-[#436779] rounded-lg">
                      <img src="static/assets/java.png" 
                          class="w-20 mx-auto transform transition-all duration-300 hover:scale-125 hover:rotate-6 hover:drop-shadow-lg" 
                          alt="logo java">
                  </div>
                  <div class="bg-[#F5E6D3] p-4 border border-[#436779] rounded-lg">
                      <img src="static/assets/javascript.png" 
                          class="w-20 mx-auto transform transition-all duration-300 hover:scale-125 hover:rotate-6 hover:drop-shadow-lg" 
                          alt="logo javascript">
                  </div>
                  <div class="bg-[#F5E6D3] p-4 border border-[#436779] rounded-lg">
                      <img src="static/assets/sql.png" 
                          class="w-20 mx-auto transform transition-all duration-300 hover:scale-125 hover:rotate-6 hover:drop-shadow-lg" 
                          alt="logo sql">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>