<section id="hero-section" class="bg-[#F5E6D3] relative">

  <!-- Main Content -->
  <div class="flex flex-col items-center justify-center text-center px-4 py-44 bg-gradient-to-br from-[#F5E6D3] to-[#89B0C9] w-full h-screen">
      <h1 class="text-5xl font-bold mb-6 text-[#1B2D3A]">HEY, I'M <span class="text-[#89B0C9]">Kossatz</span></h1>
      <p class="text-lg text-[#1B2D3A] max-w-2xl mb-8">
          Turning ideas into robust and functional applications. I'm Kossatz, a fullstack developer focused on backend, building digital solutions that drive results.
      </p>
      <a
      href="#projects-section"
      class="bg-[#1B2D3A] text-[#F5E6D3] font-bold py-3 px-6 rounded-lg shadow-md hover:bg-[#89B0C9] hover:text-[#1B2D3A] transition-all duration-300"
  >
      Projects
  </a>
  
  </div>
  {% comment %} Decorative element  {% endcomment %}
  <div class="absolute bottom-28 left-1/2 -translate-x-1/2">
      <div class="w-8 h-12 border-2 border-blue-100 rounded-full flex justify-center">
          <div class="w-2 h-2 bg-blue-100 rounded-full animate-bounce mt-2"></div>
      </div>
  </div>
</section>